p.first {
    background: lightpink;
    font-family: Verdana, 'DejaVu Sans', sans-serif;
}
div#second {
    color: blue;
    font-size: 36px;
}
p.first.third {
    font-size: 24px;
}
div#fourth {
    background: lightgreen;
    font-size: 24px;
    font-weight: bold;
}